@model LiveChat.Models.User
@using LiveChat.Models

@{
    ViewBag.Title = "Console";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
    List<LC_Msg> msgList = ViewBag.msgList;
}

<div id="Console-Header">
    <span>Console</span>

    <div id="UserInfo">
        <p>
            Hello, @Model.UserName
        </p>
        <p>
            @Html.ActionLink("Index", "Index")
        </p>
    </div>
</div>

<div id="Consolee-Body">

    <div id="WorkingArea"></div>

    <div id="MsgList">
        <ul>
            @foreach (var msg in msgList)
            {
                <li class="ActMsg">@msg.MsgID</li>
            }
        </ul>
    </div>

</div>

<div id="WorkerDialog">
    <input type="text" name="UserID" value="@Model.UserID" hidden />
    <p>
        <label>MsgID</label>
        <input type="text" name="MsgID" readonly />
    </p>
    <div id="WorkerContent">
        Waiting...
        <ul id="WorkerMsgs"></ul>
    </div>
    <p>
        <label id="Worker-AgentName">@Model.UserName</label>
        <input type="text" name="Worker-Msg-Content" />
        <button id="MsgSend">Send</button>
    </p>
</div>

@section Scripts{
    <script src="~/Scripts/Worker.js"></script>
}
